doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(data-main='/javascripts/main' src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js')
    body
        block content